/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
strong,
section,
time,
audio,
video{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
  box-sizing: border-box;
}
html{scroll-behavior:smooth;}
body{
  background:#fff;
  color:#000;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:1;
}
ol, 
ul,
li{list-style:none;}
strong{font-weight: bold;}
table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
a,
a:hover{
  text-decoration:none;
  cursor:pointer;
}
:focus{outline:0;}
:hover{transition:.3s ease;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="password"],
textarea,
select{
  border:2px solid #000000;
  color:#000000;
  padding:17px;
  font: 400 15px/18px 'Roboto';
  width:100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus{border-color:#900;}
input[type="submit"],
input[type="button"],
button{
  border:2px solid #000;
  text-transform:uppercase;
  color:#000;
  font: 400 15px/18px 'Roboto';
  width: 100%;
}
input[type="text"]:placeholder,
input[type="email"]:placeholder,
input[type="tel"]:placeholder,
input[type="search"]:placeholder,
input[type="url"]:placeholder{color:#000;}
input{box-sizing: border-box}
input::placeholder{color: #000000;}
/* Estilização */

/* Container */
.container{
    max-width: 100%;
    padding: 0 16px;
}
/* voltar - registro*/
.btn-back img{
    padding-top: 16px;
}
/* h1 - registro */
.h1{
    color: #000000;
    font: 400 36px/40px 'Comfortaa';
    letter-spacing: -0.015em;
    margin: 32px 0;
}
.h2{
    font: 900 13px/15px 'Roboto';
    margin-bottom: 24px;
}
/* botões */
.btn{
    align-items: center;
    border: 2px solid #000000;
    border-radius: 6px;
    font: 900 13px/15px 'Roboto';
    text-align: center;
    text-transform: uppercase;
}
.btn-white{
    background-color: #ffffff;
    color: #000000;
}
.btn-black{
    background-color: #000000;
    color: #ffffff;
}
/* home */
.home{
    display: flex;
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
}
.home h1{
    position: absolute;
    top: 40%;
}
.home section{
    bottom: 0;
    display: flex;
    gap: 8px;
    left: 0;
    margin: 0 0 125px 16px;
    position: absolute;
}
article p{
    font: 400 11px/13px 'Roboto';
}
article .bold{
    font: 700 13px/15px 'Roboto';
}
/* footer */
footer{
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}
.f-home{
    display: flex;
    gap: 9px;
}
footer a{
    margin: 20px 0 33px;
    padding: 19px;
    width: 50%;
}
/* form */
input{
    margin-bottom: 16px;
}
form a{
    display: block;
    padding: 19px 0;
    width: 100%;
    margin-bottom: 32px;
}
form p{
    color: #000000;
    font: 400 13px/18px 'Roboto';
}
form span{
    text-decoration: underline;
}