/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
strong,
section,
time,
audio,
video{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
  box-sizing: border-box;
}
html{scroll-behavior:smooth;}
body{
  background:#fff;
  color:#000;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:1;
}
ol, 
ul,
li{list-style:none;}
strong{font-weight: bold;}
table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
a,
a:hover{
  text-decoration:none;
  cursor:pointer;
}
:focus{outline:0;}
:hover{transition:.3s ease;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="password"],
textarea,
select{
  border:2px solid #000000;
  color:#000000;
  padding:17px;
  font: 400 15px/18px 'Roboto';
  width:100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus{border-color:#000;}
input[type="submit"],
input[type="button"],
button{
  border:2px solid #000;
  text-transform:uppercase;
  color:#000;
  font: 400 15px/18px 'Roboto';
  width: 100%;
}
input[type="text"]:placeholder,
input[type="email"]:placeholder,
input[type="tel"]:placeholder,
input[type="search"]:placeholder,
input[type="url"]:placeholder{color:#000;}
input{box-sizing: border-box}
input::placeholder{color: #000000;}
/* Estilização */

/* Container */
.container{
    max-width: 100%;
    padding: 0 16px;
}
/* voltar - registro */
.btn-back img{
    padding-top: 16px;
}
/* h1 - registro/discover */
.text-h1{
    color: #000000;
    font: 400 36px/40px 'Comfortaa';
    letter-spacing: -0.015em;
    margin: 32px 0;
}
/* h2 - discover*/
.text-h2{
    font: 900 13px/15px 'Roboto';
    margin-top: 16px;
    margin-bottom: 24px;
    text-transform: uppercase;
}
/* bold - home/discover*/
.bold{
    font: 700 13px/15px 'Roboto';
}
/* botões */
.btn{
    align-items: center;
    border: 2px solid #000000;
    border-radius: 6px;
    display: block;
    font: 900 13px/15px 'Roboto';
    padding: 19px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.btn-white{
    background-color: #ffffff;
    color: #000000;
}
.btn-black{
    background-color: #000000;
    color: #ffffff;
}
/* home */
.home{
    display: flex;
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
}
.home h1{
    position: absolute;
    top: 40%;
}
.home section{
    bottom: 0;
    display: flex;
    gap: 8px;
    left: 0;
    margin: 0 0 125px 16px;
    position: absolute;
}
article p{
    color: rgba(0, 0, 0, 0.8);
    font: 400 11px/13px 'Roboto';
}
/* footer */
footer{
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}
.f-home{
    display: flex;
    gap: 9px;
}
.footer a{
    margin: 20px 0 33px;
    padding: 19px;
    width: 50%;
}
/* form */
input{
    margin-bottom: 16px;
}
form a{
    margin-bottom: 32px;
}
form p{
    color: #000000;
    font: 400 13px/18px 'Roboto';
}
form span{
    text-decoration: underline;
}
/* discover */
.stories{
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    margin-bottom: 48px;
}
.stories article{min-width: 100%;}
.story figure{
    margin-bottom: 16px;
}
.story > section{
    display: flex;
    gap: 8px
}
.story{
    gap: 8px;
}
/* grid - discover */
.grid{
    display: grid;
    margin-bottom: 32px;
}
.grid figure{
    display: grid;
}
.grid img, figure img{width: 100%;}
/* footer - discover */
.menu{
    box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
}
ul{
    display: flex;
    justify-content: space-between;
}
ul li a{
    display: block;
    margin: 9px 0 34px 0;
}
.see-more{
    margin-bottom: 118px;
}
/* col */
.col-2{
    gap: 9px;
    grid-template-columns: 1fr 1fr;
}
.col-2 figure{
    gap: 10px;
}
.col-3{
    gap: 11px;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-3 figure{
    gap: 11px;
}
/* profile */
.profile section{margin: 32px 0;}
.profile .me{
    display: flex;
    justify-content: center;
    margin: 32px 0;
}
.profile .me img{
    width: fit-content;
}
.profile h1, .profile h2{text-align: center;}
.profile h1{
    font: 400 36px/40px 'Comfortaa';
}
.profile h2{
    font: 900 13px/15px 'Roboto';
    margin-top: 16px;
}
.profile .btn-black{
    margin-bottom: 16px;
}
/* chat */
.chat{
    display: block;
    font: 900 17px/22px 'Source Sans Pro';
    padding: 11px 0;
    text-align: center;
}
.message{
    display: flex;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.message figure{
    min-width: 64px;
}
.message article h3{
    font: 700 13px/18px 'Roboto';
    margin-bottom: 6px;
}
.message article p{
    color: #000;
    font: 400 13px/18px 'Roboto';
}
.border{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}
/* chats */
.private{margin-bottom: 32px;}
.msg-back{
    padding: 12px 9px;
    position: absolute;
    z-index: 10;
}
.chats{
    display: none;
    margin-bottom: 24px;
}
.chats section{
    display: flex;
    gap: 16px;
}
.chats img{
    width: fit-content;
}
.chats section article{
    background: rgba(0, 0, 0, 0.03);
}
.chats section article p{
    color: #000;
    font: 400 13px/18px 'Roboto';
    margin: 16px 20px 16px 16px;
    max-width: 93%;
}
.profile h2{
    text-transform: uppercase;
}
/* full-story-um */
.full-story, .full-discovery, #login, #form p{
    display: none;
}
.full-story figure img, .full-discovery figure img{
    max-width: 100vw;
    max-height: 100vh;
}
.full-story section:first-child, .full-discovery section:first-child{
    color: #fff;
    display: flex;
    gap: 8px;
    padding: 16px 0;
    position: fixed;
    margin: 0 16px;
    top: 0;
}
.border-left{
    border-radius: 0px 6px 6px 6px;
}
.border-right{
    border-radius: 6px 0px 6px 6px;
}